<h1>Songs: </h1>
<%= form_tag songs_upload_path, multipart: true do  %>
<label for="songs">Upload a file</label>
<%= file_field_tag :file %>
<%= submit_tag "Upload" %>
<% end %>
<ul>
<% @songs.each do |song| %>
  <li><%= display_artist(song) %> - <%= link_to song.title, song_path(song) %></li>
<% end %>
</ul>
<br>
<%= link_to "Add New Song", new_song_path %>
